
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            @using (Html.BeginForm("ChangePassword", "Account", new { action = "ChangePassword", controller = "Account" }, FormMethod.Post))
            {
                <div class="login-form-head">
                    <h4>Reset Password</h4>
                    <p>Hey! Reset Your Password and comeback again</p>
                </div>
                <div class="login-form-body">
                   
                    <div class="form-gp">
                        <label for="exampleInputPassword2">New Password</label>
                        <input type="password" id="exampleInputPassword2" name="Password">
                        <i class="ti-lock"></i>
                        <p class="text-danger">@ViewBag.ChangePass</p>
                    </div>
                    
                    <div class="submit-btn-area mt-5">
                        <button id="form_submit" type="submit">Reset <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            }
            </div>
    </div>
</div>

